<div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" (click)='AllerVers("/dash-medecin")' routerLinkActive="active">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Statistiques</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)='AllerVers("/patients")'>
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Dossiers Medicaux</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)='AllerVers("/consulter-rendez-vous")'>
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Rendez Vous</span>
              
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)='AllerVers("/discussion")' routerLinkActive="active">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Discussions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)='AllerVers("/medecin")'>
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Profil</span>
            </a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link" (click)='AllerVers("/login")'>
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Déconnexion</span>
            </a>
          </li>
        </ul>
      </nav>    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Modifier le profil</h4>
                <p class="card-description">
                    modifier votre profil               
                 </p>
                <form class="forms-sample" #medForm="ngForm" (ngSubmit)="onModifier()">
                  <div class="form-group">
                    <label for="exampleInputName1">Nom</label>
                    <input type="text" class="form-control"  [(ngModel)]="medecin.nom_medecin" placeholder="Nom" name="nom" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Prenom</label>
                    <input type="email" class="form-control" placeholder="Prenom" [(ngModel)]="medecin.prenom_medecin" name="prenom">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Adresse</label>
                    <input type="email" class="form-control"   placeholder="Adresse" [(ngModel)]="medecin.adresse_medecin" name="adresse">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Téléphone</label>
                    <input type="email" class="form-control"  placeholder="Téléphone" name="tel" [(ngModel)]="medecin.telephone_medecin" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail3">Mail</label>
                    <input type="email" class="form-control"  placeholder="mail" name="mail" [(ngModel)]="medecin.mail_medecin">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword4">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Password" name="pwd" [(ngModel)]="medecin.mot_de_passe_medecin"> 
                  </div>
              
                
                  <button type="submit" class="btn btn-primary mr-2" >Submit</button>
                  <button class="btn btn-light" routerLink="/medecin">Cancel</button>
                </form>
              </div>
            </div>
          </div>
    </div></div></div>
