<div class="container">
  <h2>Liste des ordonnances médicales</h2>
  <div class="input-group mb-3">
    <input type="date" class="form-control" [(ngModel)]="searchDate" placeholder="Rechercher une ordonnance..." aria-label="Rechercher une ordonnance" aria-describedby="basic-addon2">
    <button class="btn btn-outline-secondary" type="button" (click)="rechercherOrdonnancesParDate()">Rechercher</button>
  </div>

  <div *ngIf="ordonnances">
    <div *ngFor="let ordonnance of ordonnances; let i = index">
      <div class="card-header">
        <h3>Ordonnance n°: {{ i + 1 }}</h3>
      </div>
      <p>Date de création: {{ ordonnance.date_creation | date }}</p>
      <div *ngFor="let medicament of ordonnance.medicaments; let j = index">
        <hr>
        <h4>Medicament n°: {{ j + 1 }}</h4>
        <hr>
        <p>Nom: {{ medicament.nom_medicament }}<button (click)="deleteMedicament(medicament.id, ordonnance.id)" class="btn btn-danger" style="float: right;"><i class="fa-solid fa-trash"></i></button></p>
        <p>Dosage: {{ medicament.dosage_medicament }}</p>
        <p>Nombre de fois par jour: {{ medicament.nbr_fois_par_jour }}</p>
        <p>Durée: {{ medicament.duree }}</p>
       
      </div>
      <hr>
      <button (click)="deleteOrdonnance(ordonnance.id)" class="btn btn-danger" style="float:right">Supprimer Ordonnance</button>
    </div>
  </div>
<hr>

  <button *ngIf="!showMedicamentForm" (click)="showMedicamentForm = !showMedicamentForm" class="btn btn-primary">Ajouter Médicament</button>
  <button *ngIf="!showOrdonnanceForm" (click)="showOrdonnanceForm = !showOrdonnanceForm" class="btn btn-primary">Ajouter Ordonnance</button>
<hr>
  <div *ngIf="showMedicamentForm">
    <h3>Ajouter un Médicament à une Ordonnance</h3><hr>
    <form [formGroup]="medicamentForm" (ngSubmit)="addMedicamentToExistingOrdonnance()" class="forms-sample">
      <label for="ordonnanceSelect">Sélectionner une Ordonnance:</label>
      <select id="ordonnanceSelect" class="form-control" formControlName="selectedOrdonnanceId">
        <option *ngFor="let ordonnance of ordonnances" [value]="ordonnance.id">
          Ordonnance {{ ordonnance.id }} - {{ ordonnance.date_creation | date }}
        </option>
      </select>
      <div class="form-group">
        <label for="nom_medicament">Nom du Médicament:</label>
        <input id="nom_medicament" class="form-control" formControlName="nom_medicament">
      </div>
      <div class="form-group">
        <label for="dosage_medicament">Dosage:</label>
        <input id="dosage_medicament" class="form-control" formControlName="dosage_medicament">
      </div>
      <div class="form-group">
        <label for="nbr_fois_par_jour">Nombre de fois par jour:</label>
        <input id="nbr_fois_par_jour" class="form-control" formControlName="nbr_fois_par_jour">
      </div>
      <div class="form-group">
        <label for="duree">Durée:</label>
        <input id="duree" class="form-control" formControlName="duree">
      </div>
      <button type="submit" class="btn btn-success">Ajouter Médicament</button>
    </form>
  </div>

  <div *ngIf="showOrdonnanceForm">
    <h3>Ajouter une Nouvelle Ordonnance avec des Médicaments</h3><hr>
    <form [formGroup]="medicamentForm" (ngSubmit)="addOrdonnanceWithMedicaments()" class="forms-sample">
      <div class="form-group">
        <label for="nom_medicament">Nom du Médicament:</label>
        <input id="nom_medicament" class="form-control" formControlName="nom_medicament">
      </div>
      <div class="form-group">
        <label for="dosage_medicament">Dosage:</label>
        <input id="dosage_medicament" class="form-control" formControlName="dosage_medicament">
      </div>
      <div class="form-group"> 
        <label for="nbr_fois_par_jour">Nombre de fois par jour:</label>
        <input id="nbr_fois_par_jour" class="form-control" formControlName="nbr_fois_par_jour">
      </div>
      <div class="form-group">
        <label for="duree">Durée:</label>
        <input id="duree" class="form-control" formControlName="duree">
      </div>
      <button type="submit" class="btn btn-success">Ajouter Ordonnance</button>
    </form>
  </div>
</div>

