<div class="container">
  <h2>Liste des ordonnances médicales</h2>
  <div class="input-group mb-3">
    <input type="date" class="form-control" [(ngModel)]="searchDate" placeholder="Rechercher une ordonnance..." aria-label="Rechercher une ordonnance" aria-describedby="basic-addon2">
    <button class="btn btn-outline-secondary" type="button" (click)="rechercherOrdonnancesParDate()">Rechercher</button>
  </div>

  <div *ngIf="ordonnances">
    <div *ngFor="let ordonnance of ordonnances" class="card mb-3">
      
      <div class="card-header">
        <h5 class="card-title">Ordonnance n°:  {{ordonnance.id + 1}} </h5>
      </div>
  
      <div class="card-body">
        <button class="btn btn-primary" (click)="imprimerOrdonnance(ordonnance.id)" style="float:right">Imprimer</button>
        <div [id]="'ordonnanceContent_' + ordonnance.id">
          
         
        </div>
   
        <div class="card-footer align-self-center" style="float: right;">
          <p class="card-text" style="font-size: 11px;"> le {{ordonnance.date_creation | date: 'dd/MM/yyyy'}}</p>
          <img src="../../assets/images/signature.svg" alt="Signature du médecin" width="55px">
          
        </div>
      </div>
    </div>
  </div>
</div>
