<div class="container">
  <h2>Liste des ordonnances médicales</h2>
  <div class="input-group mb-3">
    <input type="date" class="form-control" [(ngModel)]="searchDate" placeholder="Rechercher une ordonnance..." aria-label="Rechercher une ordonnance" aria-describedby="basic-addon2">
    <button class="btn btn-outline-secondary" type="button" (click)="rechercherOrdonnancesParDate()">Rechercher</button>
  </div>

  <div *ngIf="ordonnances">
    <div *ngFor="let ordonnance of ordonnances; let i = index">
      <div class="card-header">
        <h3>Ordonnance n°: {{ i + 1 }}</h3>
      </div>
      <p>Date de création: {{ ordonnance.date_creation | date }}</p>
      <div *ngFor="let medicament of ordonnance.medicaments; let j = index">
        <hr>
        <h4>Medicament n°: {{ j + 1 }}</h4>
        <hr>
        <p>Nom: {{ medicament.nom_medicament }}</p>
        <p>Dosage: {{ medicament.dosage_medicament }} ml</p>
        <p>Nombre de fois par jour: {{ medicament.nbr_fois_par_jour }} pendant {{ medicament.duree }} Jours</p>
        <img src="../../assets/images/signature.svg" alt="Signature du médecin" width="55px">
      </div>
      <button class="btn btn-primary" (click)="imprimerOrdonnance(ordonnance.id)" style="float:right">Imprimer</button>
    </div>
  </div>

</div>
