<div class="container-scroller">
 
    <app-navbar-patient></app-navbar-patient>
  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
   <!-- partial:partials/_settings-panel.html -->
   <div class="theme-setting-wrapper">
     <div id="theme-settings" class="settings-panel">
       <i class="settings-close ti-close"></i>
       <p class="settings-heading">SIDEBAR SKINS</p>
       <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
       <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
       <p class="settings-heading mt-2">HEADER SKINS</p>
       <div class="color-tiles mx-0 px-4">
         <div class="tiles success"></div>
         <div class="tiles warning"></div>
         <div class="tiles danger"></div>
         <div class="tiles info"></div>
         <div class="tiles dark"></div>
         <div class="tiles default"></div>
       </div>
     </div>
   </div>
   <div id="right-sidebar" class="settings-panel">
     <i class="settings-close ti-close"></i>
     <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
       <li class="nav-item">
         <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
       </li>
     </ul>
     <div class="tab-content" id="setting-content">
       <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
         <div class="add-items d-flex px-3 mb-0">
           <form class="form w-100">
             <div class="form-group d-flex">
               <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
               <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
             </div>
           </form>
         </div>
         <div class="list-wrapper px-3">
           <ul class="d-flex flex-column-reverse todo-list">
             <li>
               <div class="form-check">
                 <label class="form-check-label">
                   <input class="checkbox" type="checkbox">
                   Team review meeting at 3.00 PM
                 </label>
               </div>
               <i class="remove ti-close"></i>
             </li>
             <li>
               <div class="form-check">
                 <label class="form-check-label">
                   <input class="checkbox" type="checkbox">
                   Prepare for presentation
                 </label>
               </div>
               <i class="remove ti-close"></i>
             </li>
             <li>
               <div class="form-check">
                 <label class="form-check-label">
                   <input class="checkbox" type="checkbox">
                   Resolve all the low priority tickets due today
                 </label>
               </div>
               <i class="remove ti-close"></i>
             </li>
             <li class="completed">
               <div class="form-check">
                 <label class="form-check-label">
                   <input class="checkbox" type="checkbox" checked>
                   Schedule meeting for next week
                 </label>
               </div>
               <i class="remove ti-close"></i>
             </li>
             <li class="completed">
               <div class="form-check">
                 <label class="form-check-label">
                   <input class="checkbox" type="checkbox" checked>
                   Project review
                 </label>
               </div>
               <i class="remove ti-close"></i>
             </li>
           </ul>
         </div>
         <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
         <div class="events pt-4 px-3">
           <div class="wrapper d-flex mb-2">
             <i class="ti-control-record text-primary mr-2"></i>
             <span>Feb 11 2018</span>
           </div>
           <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
           <p class="text-gray mb-0">The total number of sessions</p>
         </div>
         <div class="events pt-4 px-3">
           <div class="wrapper d-flex mb-2">
             <i class="ti-control-record text-primary mr-2"></i>
             <span>Feb 7 2018</span>
           </div>
           <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
           <p class="text-gray mb-0 ">Call Sarah Graves</p>
         </div>
       </div>
       <!-- To do section tab ends -->
       <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
         <div class="d-flex align-items-center justify-content-between border-bottom">
           <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
           <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
         </div>
         <ul class="chat-list">
           <li class="list active">
             <div class="profile"><img src="images/faces/face1.jpg" alt="image"><span class="online"></span></div>
             <div class="info">
               <p>Thomas Douglas</p>
               <p>Available</p>
             </div>
             <small class="text-muted my-auto">19 min</small>
           </li>
           <li class="list">
             <div class="profile"><img src="images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
             <div class="info">
               <div class="wrapper d-flex">
                 <p>Catherine</p>
               </div>
               <p>Away</p>
             </div>
             <div class="badge badge-success badge-pill my-auto mx-2">4</div>
             <small class="text-muted my-auto">23 min</small>
           </li>
           <li class="list">
             <div class="profile"><img src="images/faces/face3.jpg" alt="image"><span class="online"></span></div>
             <div class="info">
               <p>Daniel Russell</p>
               <p>Available</p>
             </div>
             <small class="text-muted my-auto">14 min</small>
           </li>
           <li class="list">
             <div class="profile"><img src="images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
             <div class="info">
               <p>James Richardson</p>
               <p>Away</p>
             </div>
             <small class="text-muted my-auto">2 min</small>
           </li>
           <li class="list">
             <div class="profile"><img src="images/faces/face5.jpg" alt="image"><span class="online"></span></div>
             <div class="info">
               <p>Madeline Kennedy</p>
               <p>Available</p>
             </div>
             <small class="text-muted my-auto">5 min</small>
           </li>
           <li class="list">
             <div class="profile"><img src="images/faces/face6.jpg" alt="image"><span class="online"></span></div>
             <div class="info">
               <p>Sarah Graves</p>
               <p>Available</p>
             </div>
             <small class="text-muted my-auto">47 min</small>
           </li>
         </ul>
       </div>
       <!-- chat tab ends -->
     </div>
   </div>
   <!-- partial -->
   <!-- partial:partials/_sidebar.html -->

   <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" (click)="AllerVers('/dash-patient')">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Dossier Médical</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="AllerVers('/ajouter-rendez-vous')" routerLinkActive="active">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Rendez-vous</span>
          
        </a>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="AllerVers('/discussion-patient')" routerLinkActive="active">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Discussion</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="AllerVers('/profil-patient')"  routerLinkActive="active">
            <i class="icon-head menu-icon"></i>
          <span class="menu-title">Profil</span>
        </a>
    </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Déconnexion</span>
        </a>
      </li>
    </ul>
  </nav>    <div class="content-wrapper">
    <h4>Discussion avec votre médecin: </h4>
    <div class="input-group rounded">
      <input type="search" class="form-control rounded" placeholder="chercher un message" aria-label="Search" aria-describedby="search-addon"  [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange()"/>
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <div>
        
        <div>
            <br>
            <strong>Dr. {{medecin.nom_medecin}} {{medecin.prenom_medecin}}</strong>
            <br>Diplomée du faculté de Medecine Tunis<br>
            Medecin généraliste fort de plus de 9 ans d'experience dans le domaine médical

        </div>
    </div>
    <br>
    <i class="fa-solid fa-circle-info"></i><p>Communiquez avec votre médecin et recherchez des messages dans cette discussion</p>

  </div>
    <div class="container-discussion">
      <div class="div1">
        <div class="nav-item nav-profile ">
          <a>
            <img src="assets/images/femmedoct.png" alt="profile" class="profil-patient" style="border-radius: 30px;"/>{{medecin.nom_medecin}} {{medecin.prenom_medecin}}
          </a>
        </div>
        <div class="icons">
          <div>
            <a href="https://meet.google.com/"> <i class="fa-solid fa-phone"></i></a>
           
          </div>
          <div>
            <a href="https://meet.google.com/"> <i class="fa-solid fa-video"></i></a>
          </div>
          <div>
            <a routerLink="historique"><i class="fa-solid fa-user"></i></a>
          </div>
          <div>
            <i class="fa-solid fa-ellipsis"></i> 
        </div>     
      </div>
      </div>
     
      <div class="div2" id="messageContainer">
        
        <div *ngFor="let m of discussions" class="message" >
            <span *ngIf="getProfil(m)">
                <img src="assets/images/femmedoct.png" alt="profile" class="profil-patient" style="border-radius: 30px;" />
              </span>
          
          <div [ngClass]="getMessageClass(m)"> <p>{{ m.message }}<br><span style="color: gray;font-size: 13px;">{{m.date_discussion}}</span></p> </div>
          <span *ngIf="getProfil(m)==false">
            <img src="../assets/images/patientfemme.png" alt="profile" class="profil-patient" />
          </span>
        </div>
      </div>
      
      <div class="div3">
        <div>
        <input _ngcontent-ng-c2165024592="" type="text" placeholder="Enter Message..." formcontrolname="message" class="form-control form-control-lg bg-light border-light ng-pristine ng-invalid ng-touched" ng-reflect-name="message" ng-reflect-model="" [(ngModel)]="message">
      </div>
      <div class="div4">
        <div>
        <i class="fa-solid fa-paperclip"></i>
      </div>
      <div>
        <i class="fa-solid fa-paper-plane ft-16" (click)="sendMessage(message)"></i>
      </div>
      </div>
      </div>
    </div>
 </div></div>


