<div class="container">
    <h2>Liste des certificats médicaux</h2>
  
    <div class="input-group mb-3">
      <input type="date" class="form-control" placeholder="Rechercher par date..." [(ngModel)]="searchDate">
      <button class="btn btn-outline-secondary" type="button" (click)="searchCertificats()">Rechercher</button>
    </div>
  
  
    <div *ngFor="let certificat of certificats;let i=index" class="card mb-3">
      <div class="card-body">
        <button class="btn btn-primary" (click)="imprimerCertificat(certificat.code_certificat)" style="float:right">Imprimer</button>
        <div [id]="'ordonnanceContent_' + certificat.code_certificat">
        <h5 class="card-title">Certificat #{{ i+1 }}</h5>
        <p class="card-text">Nombre de jours de repos : {{ certificat.nbr_jour_repos }}</p>
        <p class="card-text">Date de repos : {{ certificat.date_repos }}</p>

        <p class="card-text">{{ certificat.commentaire }}</p>
        <p class="card-text">Date création : {{ certificat.date_creation}}</p>
        <img src="../../assets/images/signature.svg" alt="Signature du médecin" width="55px">

      </div>
    </div>
  </div>
  