<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dash-patient" routerLinkActive="active">
          <i class="icon-paper menu-icon"></i>
          <span class="menu-title">Dossier Médical</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/rendez-vous" routerLinkActive="active">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Rendez-vous</span>
          
        </a>
       
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="discussion-patient" routerLinkActive="active">
          <i class="icon-layout menu-icon"></i>
          <span class="menu-title">Discussion</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profil-patient" routerLinkActive="active">
            <i class="icon-head menu-icon"></i>
          <span class="menu-title">Profil</span>
        </a>
    </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Déconnexion</span>
        </a>
      </li>
    </ul>
  </nav>