<div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" (click)='AllerVers("/dash-medecin")' routerLinkActive="active">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Statistiques</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)='AllerVers("/patients")'>
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Dossiers Medicaux</span>
              
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)='AllerVers("/consulter-rendez-vous")'>
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Rendez Vous</span>
              
            </a>
           
          </li>
          <li class="nav-item">
            <a class="nav-link"  (click)='AllerVers("/discussion")' routerLinkActive="active">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Discussions</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)='AllerVers("/medecin")'>
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Profil</span>
            </a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Déconnexion</span>
            </a>
          </li>
        </ul>
      </nav>      <div class="content-wrapper">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <p class="card-title mb-0">Dossiers Medicaux</p>
                <div class="table-responsive">
                  <table class="table table-striped table-borderless">
                    <thead>
                      <tr>
                        <th>Cin</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Date de Naissance</th>
                        <th>Mail</th>
                        <th>Téléphone</th>
                      </tr>  
                    </thead>
                    <tbody>
                      <tr *ngFor="let p of patients">
                        <td>{{p.cin}}</td>
                        <td >{{p.nom}}</td>
                        <td >{{p.prenom}}</td>
                        <td>{{p.date_de_naissance}}</td>
                        <td >{{p.email}}</td>
                        <td >{{p.telephone}}</td>
                        <td><button class="btn btn-primary" (click)="consulterPatient(p.id_patient)">Consulter</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div *ngfor="let d of discussions">
            {{d.message}}
        </div>
</div>
</div></div>