<div class="container-scroller">
    <app-navbar></app-navbar>
    <div class="container-fluid page-body-wrapper">
    <app-sidebarnav></app-sidebarnav>
    <div class="content-wrapper">
             
              <div class="row">
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      <img src="assets/images/femmedoct.png" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                      <div *ngIf="medecin">
                        <h5 class="my-3">{{medecin.nom_medecin}} {{medecin.prenom_medecin}}</h5>
                    </div>
                      
                      
                      <p class="text-muted mb-1">Docteur </p>
                      <p class="text-muted mb-4">{{medecin.adresse_medecin}}</p>
                      <div class="d-flex justify-content-center mb-2">
                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary"  routerLink="/modifierMedecin">Modifier</button>
                        <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-primary ms-1" routerLink="/discussion">Messages</button>
                      </div>
                    </div>
                  </div>
                
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Nom</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{medecin.prenom_medecin}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Prenom</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{medecin.nom_medecin}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Telephone</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{medecin.telephone_medecin}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Adresse</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{medecin.adresse_medecin}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Mail</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{medecin.mail_medecin}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                 
                </div>
              </div>
</div></div>